@import '@/styles/app.scss';

.header {
    &-desktop {

        @include respond(tab-md) {
            display: none;
        }

        &--left {
            display: flex;
            align-items: center;
            justify-content: space-around;

            &__position {
                display: flex;
                align-items: center;

                &_city {
                    margin: 0 10px 2px 0; 
                    padding: 0 10px;
                    height: 42px;
                    border: 1px solid #C8C7CC;
                    text-align: center;
                    color: #FD3D76;
                    line-height: 42px;
                    border-radius: 8px;
                }
            }
        }
    }

    &-search {
        width: 350px;
    }

    &-nav-link {

        display: flex;
        align-items: center;
        float: right;
    
        &--item {
            max-width: 200px;
            margin: 0 10px;
            font-size: 16px;
            font-weight: 600;
        }

        &--user {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100px;
            
            &__avatar {
                cursor: pointer;
            }

            &__noti {
                cursor: pointer;
                height: 50px;

                & i {
                    font-size: 28px;
                    padding: 0 5px;
                }
            }

            &_loading {
                font-size: 18px;
                text-align: center;
                color: #FD3D76;
            }
        }
    }

    &-mobile {
        display: none;

        @include respond(tab-md) {
            display: block
        }

        &-responsive {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & span {
                font-size: 24px;
                cursor: pointer;
            }
        }

        &--left {
            display: flex;
            align-items: center;

            & span {
                padding-right: 15px;
            }
        }
    }
}

.blue {
    color: #3E74FF;
}

.steps {
    margin: 0 20%;
    padding: 5px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &--item {
        
        text-align: center;
        max-width: 100px;
        position: relative;

        &__icon {
            width: 35px;
            height: 35px;
            margin: 0 auto;
            border-radius: 5px;
            font-size: 20px;
            line-height: 30px;
            color: #8A8A8F;
            background: #EFEFF4;
        }
        &__title {
            position: absolute;
            width: 100px;
            left: -90%;
            top: 45%;
            font-size: 14px;
        }

    }

    &--content {
        height: 70vh;
        margin: 40px 0 0 0;
        padding: 50px 30px;
        border-top: 1px solid #EFEFF4;
        // border-radius: 6px 6px 0 0;
        // background-color: #fafafa;
        width: 100%;
        overflow-y: scroll;

        &__intro {

            &-img {
                & img {
                    display: block;
                    margin: 0 auto;
                }
            }

            & span {
                display: inline-block;
                margin: 20px 50px 0 50px;
                font-weight: 600;
                font-size: 20px;
                line-height: 33px;
                text-align: center;
                color: #3E74FF;

            }
        }
    }

    &--bridge {
        width: 100%;
        height: 5px;
        background: #EFEFF4;
    }

    &--control {
        padding: 10px 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 3px solid #EFEFF4;
        border-radius: 0 0 6px 6px;
        background-color: #fff;

        &__back {
            color: #FD3D76;
            font-size: 18px;
            display: flex;
            align-items: center;
            cursor: pointer;

            & > i {
                font-size: 28px;
                padding-right: 10px;
            }
            & > span {
                padding-bottom: 2px;
            }
        }

        &__continute {
            padding: 5px 15px;
            background: #FD3D76;
            color: #fff;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
.current-step {
    border: 2px solid #FD3D76;
    background: #fff;
    color: #FD3D76;
}
.done-step {
    background: #FD3D76;
    color: #fff;
}

.done-bridge {
    background: #FD3D76;
}