.selected {
    width: 100%;
    
    &-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        & span:last-child {
            padding-left: 10px;
        }

    }
}

.ant-select-selection-selected-value {
    & i {
        padding-right: 10px;
    }

    & span {
        padding-right: 5px;
    }
}