.posts {
    padding: 50px 40px;

    &-filter {
        padding-top: 5px;

        &--title {
            margin-bottom: 15px;
            
            & > span {
                font-weight: 600;
                color: #3E74FF;
                font-size: 22px;
            }

            &__clear {
                font-size: 14px;
                font-weight: 600;
                padding: 5px 0;
                text-align: center;
                color: #fff;
                background: #777;
                border-radius: 3px;
                cursor: pointer;

                &:hover {
                    color: #000;
                }
            }
        }

        &--body {

            &__item {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 10px;
                overflow: hidden;

                &--radio {
                    display: block;
                    margin: 5px 0;
                }
                
                &--price {
                    margin: 10px 0;
                    padding: 5px 10px;
                    border: dashed 1px #666;
                    border-radius: 8px;

                    &--show {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #3E74FF;
                        font-size: 15px;
                        font-weight: 500;
                        margin: 5px 0;

                        & > span:nth-child(2) {
                            padding: 0 5px;
                        }
                    }

                    &--input {
                        margin: 7px 0;

                        & > span {
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        &--footer {
            margin: 30px 0 0 0;
            text-align: center;

            & > i {
                font-size: 36px;
                color: #FD3D76;
            }

            &__button {
                background: #FD3D76;
                color: #fff;
                font-size: 18px;
                text-align: center;
                line-height: 50px;
                border-radius: 5px;
                height: 50px;
                cursor: pointer;
            }
        }
    }

    &-body {
        &--title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            & > h1 {
                color: #3c515b;
                font-size: 24px;
                font-weight: 700;
            }

            &__sort {
                width: 200px;
            }
        }

        &--filtered {
            max-width: 500px;
            margin: 10px 0;
        }

        &--content {

            &_loading {
                margin-top: 50px;
                font-weight: 500;
                text-align: center;
                line-height: 50px;
                color: #FD3D76;
                
                & > i {
                    font-size: 50px;
                } 
                & > p {
                    font-size: 16px;
                }
            }
        }

        &--pagination {
            margin: 20px auto;
            width: 600px;
        }
    }
}

.page {
    text-align: center;
    height: 32px;
    line-height: 30px;
    padding: 0px 10px;
    border-radius: 3px;
    color: #000;
    background: #EFEFF4;
    cursor: pointer;
}
.box {
    width: 100%;
}