@import '@/styles/app.scss';

.home {
    position: relative;
    
    &-bg-cover {
        background-image: url('~@/assets/img/bg-cover.jpg');
        background-size: cover;
        background-position: center;
        height: 75vh;

        @include respond(tab-land) {
            height: 65vh;
        }
        @include respond(tab-port) {
            height: 50vh;
        }
        @include respond(mobile) {
            height: 40vh;
        }
    }

    &-welcome {
        position: absolute;
        top: 450px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 750px;

        @include respond(tab-land) {
            top: 400px;
            width: 650px;
        }
        @include respond(tab-port) {
            top: 300px;
            width: 500px;
        }
        @include respond(mobile) {
            top: 250px;
            width: 400px;
        }

        &--title {
            text-align: center;
            font-size: 78px;
            font-weight: 700;
            color: #FD3D76;
            height: 200px;

            @include respond(tab-land) {
                font-size: 56px;
                margin-bottom: 150px;
            }
            @include respond(tab-port) {
                font-size: 48px;
                margin-bottom: 100px;
            }
            @include respond(mobile) {
                margin-bottom: 50px;
                font-size: 36px;
                height: 60px;
            }
        }

        &--form {
            padding: 20px 40px;
            z-index: 10;
            background: #FFFFFF;
            box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.16);
            border-radius: 16px;
            margin: 0 auto;
            max-width: 700px;
            margin-top: 50px;

            @include respond(mobile) {
                padding: 10px 20px;
                margin-top: 40px;
            }

            &__selected {
                font-size: 20px;
                font-weight: 600;
                
                &-tp {
                    display: flex;
                    align-items: center;
                    padding: 5px 20px;
                    margin: 0 auto 20px auto;
                    max-width: 300px;

                    & i {
                        padding-right: 10px;
                        color: #FD3D76; 
                    }
                }

                &-top {
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 24px;

                    @include respond(mobile) {
                        font-size: 16px;
                        flex-direction: column;
                    }

                    & span {
                        font-weight: 600;
                        padding: 0 10px;
                    }
                    & div {
                        max-width: 270px;
                        min-width: 150px;
                        @include respond(mobile) {
                            margin-top: 5px;
                        }
                    }
                }

                &-search {
                    width: 250px;
                    height: 50px;
                    margin: 30px auto 0 auto;
                    text-align: center;
                    line-height: 50px;
                    border-radius: 5px;
                    cursor: pointer;
                    color: #fff;
                    background: #FD3D76;

                    @include respond(mobile) {
                        height: 40px;
                        margin: 30px auto 0 auto;
                        line-height: 40px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    &-download-app {
        margin: 200px auto 80px auto;
        text-align: center;
        
        @include respond(mobile) {
            margin: 120px 10px 20px 10px;
        }

        @include respond(tab-port) {
            margin: 120px 10px 20px 10px;
        }

        &--title {
            font-size: 24px;
            color: #8A8A8F;
            padding-bottom: 20px; 

            @include respond(mobile) {
                font-size: 20px;
            }
        }

        &--button {
            & span {
                padding: 0px 20px;
                cursor: pointer;
            }

            & img {
                @include respond(mobile) {
                    width: 150px;
                }
            }

        }
    }

    &-card-hire {
        margin: 80px 0 0 0;

        @include respond(mobile) {
            margin: 5px 0 0 0;
        }

        @include respond(tab-port) {
            margin: 10px 0 0 0;
        }

        @include respond(tab-land) {
            margin: 20px 0 0 0;
        }

        &--item {
            margin: 5px auto;
        }
    }

    &-new-room {
        margin: 80px 0 0 0;

        &--title {
            font-weight: bold;
            font-size: 40px;
            color: #000000;
            // margin-bottom: 15px;
        }

        &--more {
            width: 200px;
            height: 50px;
            line-height: 50px;
            border-radius: 8px;
            font-size: 18px;

            margin: 40px auto;
            border: 2px solid #5C32FB;
            color: #5C32FB;
            text-align: center;
            cursor: pointer;
        }

        &--list {

            &_loading {
                margin-top: 20px;
                height: 100px;
                font-size: 80px;
                font-weight: 500;
                text-align: center;
                line-height: 80px;
                color: #FD3D76;
            }
        }
    }
}